body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

#box {
  display: flex;
  margin: 1em;
  background-color: rgb(144, 156, 156);
  height: 200px;
  width: 550px;
  justify-content: center;
  text-align: center;
  padding: 1em;
}

#stateBox {
  display: flex;
  margin: 1em;
  background-color: rgb(138, 145, 145);
  height: 200px;
  width: 550px;
  justify-content: center;
  text-align: center;
}
#match {
  display: flex;

  margin: 1em;
  background-color: rgb(138, 145, 145);
  height: 400px;
  width: 550px;
  justify-content: center;
  text-align: center;
}
.inputs {
  display: flex;
  height: 6rem;
  align-self: center;
}
h1 {
  display: flex;
  text-align: center;
}
input {
  width: 5rem;
  height: 5rem;
  font-size: 2rem;
  justify-self: center;
  align-self: center;
  border: 1px solid black;
}
#btn {
  background-color: red;

  color: white;
  width: 5rem;
  height: 5rem;
  border: 2px solid black;
  border-radius: 50%;
  align-self: flex-end;
  text-align: center;
  margin: 1em;
}

#calc {
  display: flex;
  flex-direction: column;
  margin: 1em;
  background-color: rgb(100, 98, 98);
  height: 500px;
  width: 700px;
  justify-content: center;
  justify-items: center;
  color: aliceblue;
  text-align: center;
  padding: 1em;
}
#calc h1 {
  display: flex;
  font-size: 2rem;
  justify-self: center;
  justify-content: center;
  height: 5em;
  text-align: center;
  background-color: azure;
  color: black;
  border: 2px solid black;
  outline: 2px solid red;
  box-shadow: black 10px 10px;
  font-style: italic;
  font-weight: bolder;
}
#calc .input {
  display: flex;
  flex-direction: row;
  width: 90%;
  height: 5rem;
  font-size: 2rem;
  align-self: center;
  margin: 2em;
  padding: 1em;
  justify-content: space-evenly;
  border: 2px solid rgb(245, 15, 15);
  outline: 3px solid black;
  box-shadow: black 10px 10px;
}
.butt {
  display: flex;
  width: 100%;
  height: 7rem;
  justify-content: center;
}
#calc #btn {
  background-color: red;
  flex-direction: row;
  color: white;
  width: 5rem;
  height: 5rem;
  border: 2px solid black;
  border-radius: 50%;
  align-self: flex-end;
  text-align: center;
  font-size: 1.1em;
  margin: 1em;
  box-shadow: black 5px 10px;
}
