    @media only screen and (min-width:320px)and( max-width:640px) {
        * {
            background-color: rgb(4, 58, 4);
            font-size: 1em;
        }
    }
    
    * {
        background-color: rgb(19, 109, 19);
        font-size: 16px;
        overflow: auto;
        width: 100%;
        user-select: none;
        margin: 0%;
    }
    
    h1 {
        font-size: 2.5em;
        text-align: center;
        margin-top:2em;
    }
   
    nav{
        display: flex;
        width:98%;
        height:9em;
        border: 5px solid black;
       
        margin-top:2em;
        align-self: center;
    }
    nav ol { 
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
       
    }
    
    nav li a {
        display: inline-flex;
        font-size: 1.9em;
        margin: auto;
        
        text-align: center;
        text-decoration: underline;
        cursor:pointer;
       
        color: #000000;
        font-weight: bolder;
       width:4em;
    }
    a:hover,
    a:active {
        
        background-color: rgb(245, 245, 180);
        border: 0.1px solid blue;
        text-align: center;
        line-height: 1.5em;
        font-size: 1.9em;
        align-content: center;
        
        
    }
    
    .pontoon {
        margin-top: 1em;
        display: grid;
        grid-template-columns: 20% 20% 20% 20%;
        grid-template-rows: 5em 15em 5em 5em;
        text-align: center;
        column-gap: 2em;
        row-gap: 2em;
        margin-right: auto;
        align-items: center;
        justify-content: center;
        padding-bottom: 2.5em;
        height: 40em;
        position: static;
    }
    
    h2 {
        grid-area: 1/1/2/5;
        margin-top: 3.5em;
        font-size: 1.9em;
        text-align: center;
    }
    p {
        grid-area: 2/1/3/5;
        display: inline;
        font-size: 1.7em;
        font-weight: bolder;
        text-align: center;
    }
    
    .play {
        grid-area: 3/1/4/2;
        font-size: 2.3em;
        text-align: center;
        border: 0.2em ridge #afd9ee;
    }
    
    
    
    .stick {
        grid-area: 3/3/4/4;
        font-size: 2.3em;
        text-align: center;
        border: 0.2em ridge #afd9ee;
    }
    
    .twist {
        grid-area: 3/2/4/3;
        font-size: 2.3em;
        text-align: center;
        border: 0.2em ridge #afd9ee;
    }
    
    .game {
        grid-area: 3 /4/4/5;
        font-size: 2.3em;
        text-align: center;
        border: 0.2em ridge #afd9ee;
    }
    
    .ace:hover,
    .play:hover,
    .stick:hover,
    .twist:hover,
    .game:hover,
    .twist:active,
    .stick:active,
    .game:active {
        background-color: rgb(236, 236, 213);
        border: 0.2em solid rgb(183, 226, 26);
        text-align: center;
        flex-flow: row;
    }
    
    .gridItem {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 0em;
        margin-top: 0em;
        grid-area: 5/1/6/5;
    }
    
    #card {
        display: flex;
        grid-area: 1/1 /2/2;
        height: 6.5em;
        width: 5em;
        border: 2px solid #151718;
        border-radius: 0.5em;
        font-family: courier;
        font-size: 2em;
        text-align: center;
        margin-bottom: 2em;
        margin-top: 0em;
        float: left;
    }
    
    .number {
        font-size: 2em;
        color: black;
        background-color: antiquewhite;
        height: 100%;
        width: 100%;
    }
    
    .suit {
        display: flex;
        font-size: 4em;
        background-color: antiquewhite;
        height: 100%;
        width: 100%;
    }
    
    /*.color:suit {
        color: rgb(224, 26, 26);
    }
    
    span:suit:♥:first-of-type(♥) {
        color: rgb(224, 26, 26);
    }
    
    .suit .hearts {
        color: rgb(224, 26, 26);
    }
    
    .suit span ♠ ♣ {
        color: rgb(10, 2, 2);
    }*/
    
    
    
    .ace {
        display: flex;
        background-color: rgb(29, 122, 83);
        grid-area: 4/1/5/5;
        justify-content: center;
        font-size: 2em;
    }
    .col{
        display:none;
    }
    .col red{
        color: red;
    }
    
    .col black{
        color: black;
    }
    /*h n d= \2665,\2666 cns =\2663,\2660*  ♠ ♣ ♥ ♦/

    /*start of snap styles*/
    
    .snap {
        display:grid;
        grid-template-columns:  30% 35% 30%;
        grid-template-rows: 6em 12em 5em 8em 20em 10em;
        width:100%;
       
    }
    .snap h2{
        text-align: center;
        grid-area: 1/1/2/4;
        font-size: 2em;
        color:black;
        margin-top:1em;
        font-weight: bolder;
    }
    .snap p{
        grid-area:2/1/3/4 ;
        font-size: 1.7em;;
        font-weight: bolder;
    }
    .playGame {
        grid-area: 4 /1/5/2;
        font-size: 1.5em;
        text-align: center;
        border: 0.2em ridge #afd9ee;
        font-weight: bolder;
    }
    .nextCard {
        grid-area: 4 /2/5/3;
        font-size: 1.5em;
        text-align: center;
        border: 0.2em ridge #afd9ee;
        font-weight: bolder;
    }
    .snaps{
        grid-area: 6/2/7/3;
        font-size: 2em;
        text-align: center;
        border: 0.2em ridge #afd9ee;
        font-weight: bolder;
    }
    .newgame {
        grid-area: 4 /3/5/4;
        font-size: 1.5em;
        text-align: center;
        border: 0.2em ridge #afd9ee;
        font-weight: bolder;
    }
    .difficulty{
     grid-area: 3/1/4/4;
     font-size: 1.5em;
        text-align: center;
        border: 0.2em ridge #afd9ee;
        font-weight: bolder;
    }
    .nextCard:hover,
    .playGame:hover,
    .snaps:hover,
    .newgame:hover,
    .difficulty:hover,
    .nextCard:active,
    .playGame:active,
    .snaps:active 
    .difficulty:active{
        background-color: rgb(236, 236, 213);
        border: 0.2em solid rgb(183, 226, 26);
        text-align: center;
        flex-flow: row;
    }
   .userPlayerCards{
       grid-area: 5/2/6/3;
        width:45%;
        margin-left:2em;
      
   }
   .compPlayerCards{
    grid-area: 5/2/6/3;
    margin-left:52%;
    width:45%;
}
.newCard{
    position: relative;
    font-size: 1.7em;
    text-align: center;
    padding-top:49% ;
    background-color: aliceblue;
    height:20vh;
    border:2px solid black;
    border-radius: 5px;
    width: 90%;
    margin-top:1em;
}
.newCard.red{
    color:red;
}
.newCard,#text{
    align-self: center;
}

.newCard:before,
.newCard:after {
    position:absolute ;
    content: attr(data-value);
    font-size: 1.2em;
}

.newCard:before{
    text-align: center;
     top:.1em;
     left:.1em;
}
.newCard:after{
   bottom:.1em;
   right:.1em; 
   transform: rotate(180deg);
}


.usercards{
       grid-area:5/1/6/2;
       display: flex;
       align-self: center;
       justify-self: center;
       justify-content: center;
       text-align: center;
       align-items: center;
       width:10em;
       height:13em;
       background:content-box repeating-linear-gradient(to top right, rgb(131, 170, 185) , white 3px, rgb(124, 21, 149) 2px);
       border-radius: 10px;
       font-size: 1.5em;
    
       font-weight: bolder;
    }
.cCard{
       grid-area: 5/3/6/4;
       display: flex;
       justify-content: center;
       align-self: center;
       justify-self: center;
       text-align: center;
       align-items: center;
       width:10em;
       height:13em;
       background:content-box repeating-linear-gradient(to top right, rgb(131, 170, 185) , white 3px, rgb(124, 21, 149) 2px);
       border-radius: 10px;
       font-size: 1.5em;
       
       font-weight: bolder;
   }
   
   