body {
  margin: 0;
}

.hero {
  position: relative;
  text-align: center;
  background-image: url(../Day3/assests/raychel-sanner-1cJXplTxrmI-unsplash.jpg);
  height: 15em;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  contain: content;
}

.block {
  height: 100px;
  background-color: aqua;
  border: 2px solid black;
  margin-bottom: 40px;
}

.social {
  background-color: blueviolet;
  position: absolute;
  width: 30%;
  height: 80px;
  border: 2px solid black;
  bottom: 0px;
  right: 0px;
  font-size: 2em;
}
a {
  color: bisque;
  cursor: pointer;
  margin: 0.5em;
}
