* {
  margin: 0%;
  padding: 0%;
}

body {
  box-sizing: border-box;
  width: 90%;
  height: 100vh;
  overflow: auto;
}

h1 {
  text-align: center;
  margin: 1em;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-gap: 15px;
  height: 100%;
  padding: 5%;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border: 2px solid black;
}
.orange {
  grid-area: 1/1/2/2;
}
.grape {
  grid-area: 1/2/2/3;
}
.melon {
  grid-area: 1/3/4/5;
}
.kiwi {
  grid-area: 2/1/4/3;
}
.lemon {
  grid-area: 4/1/5/3;
}
.coco {
  grid-area: 4/3/5/5;
}
